a {
  text-decoration: none;
  
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
button {
  background: white;
  color: black;
  transition: 2s;
  &:hover {
    background-color: aqua;
    color: red;
    border-radius: 8px;
  }
}
input {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-color: none;
  
}
}